/* Common css start here */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


:root{
    --primary-color:red;
    --btn-pink:#FF42A5;
    --header-font:3rem;
    --nav-p-font:1.2rem;
    --span-color:#F948B2, #8758F1;
    --heading-colo:#0B0223;
    --p-tag-color:#534C64;
}

.img-fluid{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1140px;
    margin: 0px auto;
}
a{
    text-decoration: none;
}

.section-button{
    color: #fff;
    background-color: var(--btn-pink);
    padding: 1rem 2rem;
    border-radius: 48px;
    border: none;
    text-transform: uppercase;
}

.section-description{
    color: var(--nav-p-font);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-title{
    color: var(--heading-colo);
    font-size: var(--header-font);
    font-weight: 600;
    text-transform: uppercase;
}

            /* navbar css stars here */

            .navbar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            .logo-container{
                display: flex;
                align-items: center;
                font-size: var(--header-font);
                font-weight: 700;
                text-transform: uppercase;
                cursor: pointer;
            }
            .logo-text >span{
               color: var(--btn-pink);
               margin-left: .8rem;
            }
            .navbar >ul{
                display: flex;
                list-style: none;
                align-items: center;
            }
            .navbar ul>li{
                margin-right: 1.5rem;
                font-size: var(--nav-p-font);
                font-weight: 500;
                color: #3C354F;
                cursor: pointer;
            }
            .nav-logo{
                padding: .7rem 1.5rem .7rem 1.5rem;
                background-color:rgba(11, 2, 35, 0.10) ;
                border-radius: 8px;
                display: flex;
                align-items: center;
            }
            .fa-brands{
                margin-left: 1rem;
            }

            /* banner section css stars here */
            .banner-container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
            }
            .banner-image{
                height: 500px;
            }
            
            .banner-title{
                font-family: Work Sans;
                font-size: 5rem;
                font-weight: 800;
                text-transform: uppercase;
                color:#8758F1;
            }
            .banner-li,li{
                list-style: none;
                color: var(--p-tag-color);
                font-size: var(--nav-p-font);
                font-weight: 500;
                text-transform: uppercase;
                margin: .5rem;
            }
            .banner-btn{
                    background-color: #4EC5F7;
                    padding: 1rem 2rem;
                    border-radius: 48px;
                    border: none;
                    margin-left: 1rem;
            }

            /* online games css start here now */
                .section-header{
                    text-align: center;
                }
                .online-games{
                    margin-top: 6rem;
                    margin-bottom:5rem ;
                }
                .online-image{
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    gap: 15px;
                }
                .online-title{
                    color: #8758F1;
                    font-size: var(--header-font);
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .online-card{
                    border-radius: 1rem;
                    border: 1px solid lightgray;
                    padding: 1rem;
                    background-color: #fff;
                }

                /* we-are-gamer css starts here now */
                #we-are-gamer{
                    background-color: rgb(245, 236, 243);
                }
                .we-are-gamer{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    text-align: center;
                    padding-top: 5rem;
                    padding-bottom: 5rem;
                    gap: 1rem;
                }
                .we-are-gamer-header{
                    text-align: right;
                }
                .gamer-title{
                    font-size: 4rem;
                    font-weight: 800;
                    text-transform: uppercase;
                    color:#8758F1;
                }
                .gamer-span{
                    color: #534C64;
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 45px;
                    text-overflow: ellipsis;
                }
                .our-game-description{
                    color: #534C64;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 45px;
                }

                /* play instantly css starts here */
                .play-instantly{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    position: relative;
                    margin-top: 5rem;
                    margin-bottom: 8rem;
                    padding-right: 110px;
                }

                    .play-instantly-image{
                        position: absolute;
                        top: 263px;
                        right: 558px;
                    }
                    .play-instantly-header{
                        margin-left: 150px;
                    }
                    .img-fluid-absolute{
                        width: 250px;
                        height: 250px;
                    }
                    .play-instantly-title{
                        color: var(--heading-colo);
                        font-family: Work Sans;
                        font-size: 2.5rem;
                        font-weight: 700;
                    }
                    .play-instantly-description{
                        color: #534C64;
                        font-size: 1rem;
                        font-weight: 400;
                        margin-top: 1rem;
                    }
                    .play-instantly-span{
                        color: #8758F1;
                    }
                .img-fluid-relative{
                    content: "";
                }

                /* custom button css star now */
                #custom-btn-text{
                    background-color: whitesmoke;
                    padding-top: 5rem;
                    padding-bottom: 5rem ;
                    
                }
                .custom-btn-first-part1{
                    display: flex;
                    justify-content: space-around;
                }
                .custom-btn-first-part2{
                    display: flex;
                    justify-content: space-around;
                    margin-right: 2.5rem;
                    margin-left: 2.5rem;
                }
                .custom-btn-edit{
                    color: #0B0223;
                    font-size: 1rem;
                    font-weight: 600;
                    padding: .5rem 1rem;
                    border-radius: 50px;
                    background-color: transparent ;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }

                .custom-btn-edit>img{
                    margin-right: 1rem;
                }
                .custom-btn-edit:hover{
                    border: 1px solid #F948B2;
                    background-color: #fff;
                    color: #F948B2;
                    transition: all .8s;
                }


                    /* footer section css */
                    footer{
                        background-color: #0B0223;
                        padding-top: 5rem;
                        padding-bottom: 5rem;
                    }

                    .logo-footer{
                        display: flex;
                        align-items: center;
                        font-size: var(--header-font);
                        font-weight: 700;
                        text-transform: uppercase;
                        cursor: pointer;
                        justify-content: center;
                        color: #fff;
                    }
                    .logo-text >span{
                       color: var(--btn-pink);
                       margin-left: .8rem;
                    }

                    .footer-button{
                        margin-top: 3rem;
                        display: flex;
                        justify-content: space-between;
                        justify-content: center;
                        margin-bottom: 3rem;
                        color: #fff;
                        text-align: center;
                        font-size: 1.5rem;
                        font-weight: 600;
                        
                    }
                    .footer-button li >a{
                        color: #fff;
                        padding-right: 2rem;
                    }
                    .footer-icon{
                        margin-top: 3rem;
                        display: flex;
                        justify-content: space-between;
                        justify-content: center;
                        margin-bottom: 3rem;
                    }

                    .footer-anchor{
                        display: flex;
                        justify-content: space-between;
                        justify-content: center;
                        margin-bottom: 1rem;
                        text-align: center;
                        font-size: .5rem;
                        text-align: center;
                        font-weight: 500;
                    }

                    .footer-anchor li >a{
                        color: rgba(255, 255, 255, 0.60);
                    }
                    .fa-brands1{
                        font-size: 3rem;
                    }

                    .footer-copy-right{
                        color: rgba(255, 255, 255, 0.60);
                        text-align: center;
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: normal;
                    }





            /* navbar and banner section media query css starts here */
            @media screen and (max-width:576px) {
                .container{
                    margin-right: 2.5rem;
                    margin-left: 2.5rem;
                }
                .navbar{
                    flex-direction: column;
                }
                .navbar >ul{
                    flex-direction: column;
                }

                .banner-container{
                    grid-template-columns: 1fr;
                    align-items: center;
                }
                .banner-header{
                    text-align: center;
                }
                /* online games media query css */
                .online-image{
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 15px;
                }

                /* we are games section media query */
                .we-are-gamer{
                   display: flex;
                   flex-direction: column-reverse;
                }
                .we-are-gamer-header{
                    text-align: center;
                }

                /* play instantly media query css */
                .play-instantly{
                    display: flex;
                    flex-direction: column-reverse;
                    padding-right: 0px;
            
                }
                .play-instantly-image{
                    position: absolute;
                    top: 475px;
                    right: -14px;
                }
                .img-fluid-absolute{
                    width: 120px;
                    height: 120px;
                }
                .play-instantly-header{
                    margin-left: 0px;
                    text-align: center;
                }

                .img-fluid-relative{
                    width: 250px;
                    height: 250px;
                }


            /* custom btn media query section css */
            .custom-btn-first-part1{
                    display: flex;
                    justify-content: space-around;
                    padding-left: 2rem;
                    flex-direction: column;
                }
            .custom-btn-first-part2{
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                }


                /* footer media query css */
                .footer-button{
                    margin-top: 3rem;
                    display: flex;
                    flex-direction: column;
                }
                .footer-anchor{
                    display: block;
                }

            }


            /* tablet media query css starts here now */
            @media screen and (min-width:577px) and (max-width:960px) {
                .container{
                    margin-right: 2.5rem;
                    margin-left: 2.5rem;
                    padding: 0px;
                }
                .navbar{
                    flex-direction: column;
                }
                .banner-container{
                    grid-template-columns: 1fr;
                    align-items: center;
                    text-align: center;
                }
                    /* online image media query css */
                .online-image{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 15px;
                }
                /* we are gamer section media query */
                .we-are-gamer{
                    display: flex;
                    flex-direction: column-reverse;
                 }
                 .we-are-gamer-header{
                     text-align: center;
                 }

                    /* play instantly media query css */
                 .play-instantly{
                    display: flex;
                    flex-direction: column-reverse;
                    padding-right: 0px;
                }
                .play-instantly-image{
                    position: absolute;
                    top: 523px;
                    right: 22px;
                }
                .img-fluid-absolute{
                    width: 190px;
                    height: 190px;
                }
                .play-instantly-header{
                    margin-left: 0px;
                    text-align: center;
                }

                .img-fluid-relative{
                    width: 450px;
                    height: 450px;
                }

                /* custom btn media query css */
                .custom-btn-first-part1{
                    display: flex;
                    justify-content: space-around;
                }
                .custom-btn-first-part2{
                    display: flex;
                    justify-content: space-around;
                }

                /* footer section media query css */
                .footer-button{
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                }
                .footer-anchor{
                    display: block;
                }
                .footer-anchor{
                    margin-bottom: 1rem;
                }
            }